@import "tailwindcss";

@theme {
	--color-darkblue-100: #0e172a;
	--color-darkblue-200: #080d21;
	--color-darkblue-300: #020617;
	--color-primary: var(--color-slate-400);
	--color-primary-opaque: var(--color-slate-500);
	--color-accent-blue: #93c5fd;
	--color-accent-gold: #fbbf24;
}

@keyframes gradient-move {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 200% 50%;
	}
}

.text-gradient-animate {
	background: linear-gradient(
		to right,
		var(--color-accent-blue),
		var(--color-accent-gold),
		var(--color-accent-blue)
	);
	background-size: 200% auto;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient-move 10s linear infinite;
}

/* Custom Scrollbar for unified look */
.custom-scrollbar {
	scrollbar-width: thin; /* Firefox */
	scrollbar-color: var(--color-darkblue-200) transparent; /* Firefox */
}

/* Chrome, Edge, and Safari */
.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: var(--color-darkblue-200);
	border-radius: 20px;
}
